.form {
  padding: 1rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.meetupbtn {
  margin-top: 1rem;
  text-align: center;
}

.meetupbtn button {
  font: inherit;
  cursor: pointer;
  background-color: #962d2d;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #962d2d;
  border-radius: 4px;
  font-weight: bold;
}

.meetupbtn button:hover,
.meetupbtn button:active {
  background-color: #962d2d;
  border-color: #962d2d;
}
